:root {
    --primary-color: #d8d8d8
    --secondary-color: #1e1e1e
    --tertiary-color: #70AFB3

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* header styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    border-style: solid;
    border-width: 0 5px 0 0;
    border-color: var(--secondary-color);
    padding: 5px;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55 vw;
}

/* hero styling */
.hero {
    background-image: url(../assets/hero-image3.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    width: auto;
    height: 200px;
}

.hero-subtitle {
    padding: 5px 15px;
    margin: 0 20px 0 0;
    background-color: #70AFB3;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 5, 139);
}

/* about me styling */

.intro {
    background-color: rgb(112, 170, 179);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
}

.about-me-title {
    border-style: solid;
}

.about-me-content {
    border-style: solid;
    margin: 20px;
    text-align: left;
}


/* footer styling */

footer {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 25px 30px;
}

footer nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: inline;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55 vw
}

.footer-contact {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: var(--secondary-color);
    padding: 5px;
}

.footer-contact {
    display: block;
}