:root {
    --primary-color: #b9b9b9 ;
    --secondary-color: #f5f1f1;
    --tertiary-color: #70AFB3;
    --quartiary-color: #9DD2B5;
    --fifth-color: #3B3D43;
    --sixth-color: #6AA427;
    --seventh-color: #000000;
    --eighth-color: #F0B747;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* header styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: var(--fifth-color);
    background-attachment: fixed;
    background-size: 102.5%;
    z-index: 99999;
}

header h1 a {
    font-weight: bold;
    font-size: 100px;
    margin: 0;
    padding: 5px;
    color: var(--secondary-color);
    left: 50px;
    text-decoration: none;
    background-color: var(--tertiary-color);
    border-radius: 15px;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55 vw;
    color: var(--secondary-color);
    text-decoration: none;
    margin: 10px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* hero styling */
.hero {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    width: auto;
    height: 200px;
    background-image: url(../assets/hero-image3.png);
    background-attachment: fixed;
}


.hero-subtitle {
    padding: 5px 15px;
    margin: 0 20px 0 0;
    background-color: #70AFB3;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}

/* about me styling */

.intro {
    background-color: var(--quartiary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--seventh-color);
}

.about-me-title {
    margin: 0;
    flex: 0 0 20%;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: var(--secondary-color);
    padding: 10px 0px 10px 10px;
    font-size: 30px;
}

.about-me-content {
    text-align: left;
    flex: 0 0 70%;
    margin: 0 0 0 5px;
}
/* work section */
.work {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--sixth-color);
}
.title {
    flex: 50%;
    padding: 10px;
    color: var(--seventh-color);
    border-style: solid;
    border-width: 0 5px 0 0;
    border-color: var(--secondary-color);
    font-size: 30px;
}

.examples img {
    width: 20%;
    height: auto;
    padding: 10px;
    opacity: 70%;
}

.examples img:hover {
    opacity: 100%;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work > div {
    flex: 0 0 80%;
}

.work > h2 {
    flex: 0 0 20%;
}


/* footer styling */

footer {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    color: var(--seventh-color);
    width: 100%;
    background-color: var(--eighth-color);
}

footer nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: inline;
    font-size: 20px;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: var(--seventh-color);
}

.footer-contact {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: var(--secondary-color);
    padding: 5px;
    flex: 0 0 20%;
    font-size: 20px;
}

.footer-contact {
    display: block;
}

/* media queires start */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

@media screen and (max-width: 768px) {
    header h1 a {
        font-size: 70px;
    }
    
    .footer-contact {
        font-size: 15px;
    }

    .examples img {
        width: 40%;
    }

    @media screen and (max-width: 575px) {
        header h1 a {
            font-size: 45px;
        }

        header nav ul li a {
            display: flex;
        }
        .hero {
            background-attachment: scroll;
        }
        .hero-subtitle {
           margin: 0 50px 0 0; 
        }
        .examples {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
        }
        .examples a img {
            margin: 0 0 0 90px;
        }
       
        .work {
            justify-content: center;
        }

        .title {
            border-width: 0 0 5px 0;
        }

        footer nav ul li a {
            justify-content: center;
            font-size: 15px;
        }
        
        footer nav ul li {
            margin: 0 0 0 20px;
            font-size: 15px;
        }

        .footer-contact {
            margin: 0 0 0 140px;
            border-width: 0 0 5px 0;
        }
}       